[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
Jinja2 = "*"
SQLAlchemy = ">=1.4"
python-multipart = "*"

[requires]
python_version = "3.12"
